* {
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
  width: 100vw;
  padding: 40px;
  text-align: center;
  background-color: #0abdca;
  border-bottom: 3px solid #262626;
}

.navbar > a {
  color: #262626;
  background-color: #0abdca;
  font-size: large;
  font-weight: 400;
  margin: 0px 10px;
  text-decoration: none;
}

.navbar > a:focus {
  font-weight: 600;
}

.studentInfo {
  margin-bottom: 20px;
}

.studentName,
.studentId {
  background-color: #0abdca;
}

.home,
.not-found {
  width: 100vw;
  height: calc(30vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.pesan {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 30px;
}

.gambar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.container {
  margin: 0px auto;
  width: 480px;
  padding: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
}

.form-select {
  border: 1px solid #dbdbdb;
  height: 40px;
  border-radius: 6px;
  margin-right: 4px;
  background-color: #fff;
  padding: 0px 6px;
}
.form-input {
  border: 1px solid #dbdbdb;
  height: 40px;
  border-radius: 6px;
  margin-right: 4px;
  background-color: #fff;
}
.form-btn {
  border: 0px;
  font-size: medium;
}

.card {
  margin: 30px 0px;
  background-color: #fff;
}

.card-image {
  width: 470px;
  object-fit: cover;
}

.card-content {
  background-color: #fff;
  padding: 12px;
}

.captions {
  font-size: 14px;
  background-color: #fff;
  margin-bottom: 12px;
}

.edit-btn {
  border: 0px;
  padding: 6px 0px;
  font-size: medium;
  background-color: #fff;
  margin-right: 12px;
  cursor: pointer;
}

.edit-btn > a {
  background-color: #fff;
  text-decoration: none;
  color: #0b5f97;
}

.delete-btn {
  border: 0px;
  padding: 6px 0px;
  font-size: medium;
  background-color: #fff;
  color: #ee0616;
  cursor: pointer;
}

.edit-form,
.add-form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  margin-bottom: 20px;
  width: 100%;
}

.edit-input,
.add-input {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #dbdbdb;
  height: 40px;
  border-radius: 6px;
  margin-right: 4px;
  background-color: #fff;
}

.submit-btn {
  appearance: button;
  backface-visibility: hidden;
  background-color: #0abdca;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.submit-btn:disabled {
  cursor: default;
}

.submit-btn:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.error-msg {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #ff3140;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}
